<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side"
               class="sidenav"
               opened
               [fixedInViewport]="true">

<nav id="sidebar" class="navUser active">

  <ul class="list-unstyled components">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Pages</a>
    </li>
    <li>
      <a href="#">Portfolio</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

</nav>
  </mat-sidenav>
</mat-sidenav-container>
